*.pyc
__pycache__/
*.pyc
.env
wandb/
logs/
*.pth
checkpoints/
output/
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.eps
*.pdf
*.log
*.txt
*.csv
*.json
*.yaml
*.yml
*.ini
*.md
*.sh
*.bat
*.cmd
*.ps1
*.ckpt
img_hdr_pred_siggraph17/